build/
!cache
cache/*
!cache/1034522_2.json
game/
node_modules/
.vscode/
dist/
run.sh
runbeta.sh
dockerbuild.sh
dockerbeta.bat
dockerpush.bat
dockerpushbeta.bat
dockerstop.bat
buildlod.bat
dockerbuildlod.bat
dockerbuildtest.bat